body {
	font-family: 'Lato', sans-serif;
}
.wrapper {
	width: 1440px;
}

*, *:before, *:after {
  box-sizing: border-box;
}

.height {
	height: 700px;
}

.left-panel {
	background: #4a4a4a;
	width: 30%;
	float: left;
}
.left-panel-title {
	font-size: 135px;
	font-weight: lighter;
	color: white;
	border-top: 2px solid white;
	border-bottom: 2px solid white;
	width: 55%;
	margin: 0 auto;
	text-align: center;
	margin-top: 10%;
}

.left-panel-title a {
	text-decoration: none;
	color: white;
}

.main-content {
	/*background: #d8d8d8;*/
	width: 67%;
	float: left;
	/*height: 250px;*/
}

.social {
	width: 3%;
	float: left;
	background: #4a4a4a;
}

.left-panel-articles {
	margin-top: 10%;
	height: 200px;
}

.left-panel-articles-title {
    padding: 5% 0;
    text-align: left;
}

.new-article {
	padding: 0 9%;
}

.left-panel-articles-title:hover {
	background: white;
    color: black;
    border-right: 6px solid black;
}

.left-panel-articles-title a {
	color: white;
    font-size: 25px;
    font-weight: lighter;
    text-transform: uppercase;
    text-decoration: none;
}

.left-panel-articles-title a:hover {
	background: white;
	color: black;
}

.hero-section {
	margin-top: 4%;
}

.hero-section-text {
	font-size: 2em;
	font-weight: 300;
	padding: 0 7%;
}

.icon-container {
	margin-top: 13%;
	padding: 5% 0;
}

.icons-here {
	text-align: center;
	font-size: 3em;
	font-weight: lighter;
}

.social-position {
	padding: 75px 0;
	vertical-align: middle;
	margin-top: 20vw;
	text-align: center;
}

.social-media {
	display: block;
    color: white;
    padding-bottom: 12px;
}

.footer-here {
	padding: 1px 0;
    background: #4a4a4a;
    float: left;
    position: relative;
    width: 100%;
    z-index: 2;
    bottom: 0px;
}

.menu-here {
	position: absolute;
	z-index: 3;
	bottom: 1px;
	right: 30%;
	/*font-size: 3em;*/
	padding: 0 70px;
	background: #4a4a4a;
	box-shadow: 6px 6px 0 rgba(0,0,0,.1);
}

.hamburger {
	text-decoration: none;
	color: white;
	font-size: 3em;
}

.menu {
    display: none;
    width: 30px;
    text-align: center;
    background: #4a4a4a;
}

.menu-body {
    height: 75px;
    list-style-type: none;
    margin-top: 0px;
    padding-left: 0;
    margin-left: -10px;
}

.menu-body li {
	padding-bottom: 7px;
}

.menu-body a {
    font-size: 1.0em;
    text-decoration: none;
    color: white;
    font-weight: lighter;
}

.menu-body a:hover,
.main-content-author a:hover,
.button a:hover
 {
    text-decoration: line-through;
    width: 20%;
}

.main-content-title {
	font-size: 3.2em;
	font-weight: lighter;
	width: 60%;
	padding: 3% 0 0 3%;
}

.main-content-author {
	font-size: 0.5em;
}

.main-content-author a {
	text-decoration: none;
	color: #4a4a4a;
}

.section-here {
	height: 250px;
	background: #d8d8d8;
}

.article-content {
	padding: 10%;
	line-height: 34px;
}

.button {
	border: 2px solid black;
	width: 15%;
	text-align: center;
}

.button a {
	text-decoration: none;
	color: black;
}